@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --font-family: sans-serif;

    /* 다크 모드 색상 */
    --color-background: #131313;
    --color-text: #e7e7e7;
    /*--color-primary: #1f93ff;*/

    /* 공통 색상 */
    --dark-blue: #0a1930;
    --light-blue: #1f93ff;
    --dark-gray: #767676;
    --border-gray: #444444;
    --table-border-gray: #444444;

    --color-white: #ffffff;
    --color-black: #111111;
    --color-red: #e52528;

    --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

html {
    font-size: 12px;
}

body {
    background-color: var(--color-background);
    color: var(--color-text);
    font-family: var(--font-family);
}

h1, h2, h3, h4, h5, h6 {
    @apply font-bold text-gray-100;
}

a {
    color: var(--color-primary);
    text-decoration: none;
    @apply hover:text-blue-300;
}